# AliExpress API Variables
TRACKING_ID=your_tracking_id
KEY=your_api_key
SECRET=your_api_secret
COUNTRY_CODE=US
CURRENCY=USD

# Loading Sticker
LOADING_STICKER=CAACAgIAAxkBAAIGsmprPDbd-6MH-gOWamalB8iRk3ZfAAJqAAPb234AAfGPst81YhbfPQQ

# Telegram Bot Token
TELEGRAM_TOKEN=your_telegram_bot_token

# Domain for keep_alive
DOMAIN=https://your-domain.com
